body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#form-box {
    width: 350px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border: 2px solid #00ffff;
    box-shadow: 0 0 10px #00ffff;
    border-radius: 10px;
}

.input-box {
    width: 100%;
    padding: 7px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    padding: 8px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background-color: #00ffff;
    color: black;
}