body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a0a0a;
    font-family: Arial, sans-serif;
}

#center-box {
    text-align: center;
}

#center-box h1 {
    font-size: 100px;
    font-weight: bolder;
    color: #ff00e6;
    text-shadow:0 0 3px #ff00e6;
    border: #0a0a0a 4px solid;
    display: inline-block;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}